/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 60%;
    margin: 0 auto;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

#top {
    width: 100%;
}

#wrapper {
    display: flex;
    height: 700px;
}

#left {
    flex: 20%;
    background: url(../images/logo_globe_a.gif) right bottom no-repeat;
    vertical-align: top;
}

#left a {
    display: list-item;
    list-style: none;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: center;
    border: black solid 1px;
    border-right: 0px;
    padding: 20px;
    margin: 50px 0px 50px 50px;
}

#left a:hover {
    background-color: #CCCC99;
    margin: 50px 0px;
    transition: 1s;
}

#left a.active {
    background-color: #CC9933;
}

#left a.active:hover {
    background-color: #CCCC99;
}

#content {
    flex: 50%;
    padding: 20px 20px 200px 20px;
    background: #CC9933 url(../images/logo_globe_b.gif) left bottom no-repeat;
}

#text {
    width: 100%;
    height: 500px;
    line-height: 30px;
    overflow: auto;
    padding: 5px;
}

#content a {
    color: #197575;
    font-weight: bold;
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

#right {
    flex: 30%;
    padding-top: 20px;
    background-color: #CC9933;
}

.bigetext {
    font-size: 30pt;
}

.bluetext {
    color: #197575;
}

/* Responsive layout - makes a one column-layout instead of three-column layout */
@media only screen and (max-width: 600px) {
    #container {
        width: 100%;
        font-size: 14px;
    }

    #wrapper {
        flex-direction: column;
    }

    #left {
        flex: 100%;
        background-image: none;
    }

    #left a {
        display: inline-block;
        text-align: center;
        border: black solid 1px;
        padding: 10px;
        margin: 10px;
    }

    #left a:hover {
        margin: 0px;
    }

    #content {
        flex: 100%;
    }

    #right {
        display: none;
    }

    img {
        width: 100%;
        height: auto;
    }
}

/* Responsive layout - makes a two column-layout instead of three-column layout */
@media only screen and (max-width: 800px) {
    #container {
        width: 100%;
        font-size: 14px;
    }

    #left {
        flex: 30%;
    }

    #left a {
        padding: 10px;
    }

    #content {
        flex: 70%;
    }

    #right {
        display: none;
    }

    img {
        width: 100%;
        height: auto;
    }
}
